body { background-color: #00ff99; color: #000000; }
body.vit { background-color: white; color: black }
th { vertical-align: top; text-align: left; }
td { vertical-align: top; }
p { clear: both; margin: 0 0 12px 0; }
h3 { margin: 6px 0 6px 0; }
h4 { font: italic bold medium arial sans-serif; margin: 6px 0 0 0;}
.h4 { font: italic bold medium arial sans-serif; margin: 6px 0 0 0;}
a img { border: 0; }
.left { position: relative; float: left; clear: none; margin: 6px 6px 6px 6px }
.right { position: relative; float: right; clear: none; margin: 6px 6px 6px 6px }
h1 h2 h3 { clear: both;}
.smabild { float: left; margin: 6px 6px; height:120px;}
.liten { font-size: small; }
.x-liten { font-size: x-small; }
.stor { font-size: large; }
.x-stor {font-size: x-large; }
.fet { font-weight: bold; }
.kursiv { font-style: italic; }
.center { text-align: center; }
.right,.rightadj { text-align: right;}

.kolumn { clear: none; float: left; margin-left: 25px; }
.kolumn2 { clear: none; float: left; margin-left: 35px; }
.kolumn3 { clear: none; float: left; margin-left: 95px; }

.bredkolumn { float: left; margin-left: 50px; }

.wm { background-image: url('kyrkan-wm.png'); }
p.signatur { font-family: cursive; font-size: large; font-style: italic; }
ul.naken {list-style-type: none; margin-left: 15px; padding-left: 0; line-height: 130%; margin-top: 0;}
li.rubrik { margin-bottom: 12px; }
dt.kyrkohelg { font-weight: bold; font-size: small; margin-top: 12px;
               margin-bottom: 4px; margin-left: 40px; }
li.bibelref { display: inline; font-size: small; margin-left: 15px; }
dt.lank { font-weight: bold; font-size: medium; margin-top: 12px;
               margin-bottom: 4px; }
h3.indrag {margin-left: 35px; margin-bottom: 12px; font-size: 135%;}

